# Yocto build artifacts
build*/tmp/
build*/sstate-cache/
build*/cache/
build*/downloads/

tmp/
sstate-cache/
cache/
downloads/**
!downloads/**/
!downloads/**/*.sdkshare.tar.part-*

# Repo metadata (very large)
.repo/

# Images and logs
*.log
*.tmp
*.wic*
*.sdimg
*.ext4
*.img
*.bin
*.dtb
*.itb
*.manifest

# Deploy output
/deploy/
deploy-*/

tmp-glibc/
tmp-eglibc/

# IDE/editor files
.vscode/
.idea/
*~

# sdk-share managed start
# Keep original large files out of Git.
downloads/boost_1_84_0.tar.bz2
downloads/gcc-13.3.0.tar.xz
downloads/gitshallow_sourceware.org.git.binutils-gdb.git_71ef12c-1_binutils-2_42-branch.tar.gz
downloads/linux-6.6.tar.xz
downloads/linux-firmware-20240312.tar.xz
downloads/nss-3.98.tar.gz
downloads/qemu-8.2.2.tar.xz
downloads/rustc-1.74.0-x86_64-unknown-linux-gnu.tar.xz
downloads/rustc-1.75.0-src.tar.xz

# Never keep temporary tar files.
*.sdkshare.tar
# sdk-share managed end
